{
    "nodes": [
      {
        "host": "stellio-stellio-context-broker-api-gateway.{{ stellio_namespace }}.svc.cluster.local",
        "port": 8080,
        "weight": 1
      }
    ],
    "timeout": {
      "connect": 6,
      "send": 60,
      "read": 60
    },
    "type": "roundrobin",
    "checks": {
      "active": {
        "concurrency": 10,
        "healthy": {
          "http_statuses": [
            200,
            302
          ],
          "interval": 5,
          "successes": 2
        },
        "host": "stellio-stellio-context-broker-api-gateway.{{ stellio_namespace }}.svc.cluster.local",
        "http_path": "/actuator/health",
        "port": 8080,
        "req_headers": [
          "User-Agent: curl/7.29.0"
        ],
        "timeout": 3,
        "type": "http",
        "unhealthy": {
          "http_failures": 5,
          "http_statuses": [
            429,
            404,
            500,
            501,
            502,
            503,
            504,
            505
          ],
          "interval": 1,
          "tcp_failures": 2,
          "timeouts": 3
        }
      }
    },
    "scheme": "http",
    "pass_host": "pass",
    "name": "{{ api_management_settings.stellio_api_name }}",
    "desc": "{{ api_management_settings.stellio_api_description }}",
    "keepalive_pool": {
      "idle_timeout": 60,
      "requests": 1000,
      "size": 320
    }
  }