{
    "nodes": [
      {
        "host": "citydb-wfs.{{ geo_namespace }}.svc.cluster.local",
        "port": 8080,
        "weight": 1
      }
    ],
    "timeout": {
      "connect": 6,
      "send": 6,
      "read": 6
    },
    "type": "roundrobin",
    "checks": {
      "active": {
        "concurrency": 10,
        "healthy": {
          "http_statuses": [
            200,
            302
          ],
          "interval": 2,
          "successes": 2
        },
        "http_path": "/",
        "timeout": 3,
        "type": "http",
        "unhealthy": {
          "http_failures": 5,
          "http_statuses": [
            429,
            404,
            500,
            501,
            502,
            503,
            504,
            505
          ],
          "interval": 2,
          "tcp_failures": 2,
          "timeouts": 3
        }
      }
    },
    "scheme": "http",
    "pass_host": "node",
    "name": "{{ api_management_settings.geodata_citydb_api_name}}",
    "desc": "{{ api_management_settings.geodata_citydb_api_description}}",
    "keepalive_pool": {
      "idle_timeout": 60,
      "requests": 1000,
      "size": 320
    }
  }