{
    "name": "kommonitor-editor",
    "composite": true,
    "composites": {
    "realm": [
        "kommonitor-viewer"
    ]
    },
    "clientRole": false,
    "containerId": "{{ REALM }}",
    "attributes": {}
}