{
    "name": "kommonitor-creator",
    "description": "Admin role for KomMonitor",
    "composite": true,
    "composites": {
        "realm": [
            "kommonitor-publisher"
        ]
    },
    "clientRole": false,
    "containerId": "{{ REALM }}",
    "attributes": {}
}