{
    "name": "{{ tenant.kommonitor.organization }}-creator",
    "description": "Admin role for KomMonitor organization {{ tenant.kommonitor.organization }}",
    "composite": true,
    "composites": {
        "realm": [
            "{{ tenant.kommonitor.organization }}-publisher"
        ]
    },
    "clientRole": false,
    "containerId": "{{ REALM }}",
    "attributes": {}
}