{
    "name": "{{ tenant.kommonitor.organization }}-publisher",
    "composite": true,
    "composites": {
    "realm": [
        "{{ tenant.kommonitor.organization }}-editor"
    ]
    },
    "clientRole": false,
    "containerId": "{{ REALM }}",
    "attributes": {}
}