{
    "username": "admin@{{ DOMAIN }}",
    "enabled": true,
    "totp": false,
    "emailVerified": true,
    "firstName": "Realm",
    "lastName": "Administrator",
    "email": "admin@{{ DOMAIN }}",
    "disableableCredentialTypes": [],
    "requiredActions": ["updatePassword"],
    "notBefore": 0,
    "access": {
        "manageGroupMembership": true,
        "view": true,
        "mapRoles": true,
        "impersonate": true,
        "manage": true
    }
}
