# If empty, use the chart name as common base name for any FROST-Server Kubernetes component
name:

frost:
  ######################################
  # FROST-Server general configuration #
  ######################################
  alwaysOrderbyId: true
  logSensitiveData: false
  queueLoggingInterval: 0

  #####################################
  # FROST-Server plugin configuration #
  #####################################
  plugins:
    providedPlugins:
    plugins:
    actuation:
      enable: false
      idType:
        actuator:
        task:
        taskingCapability:
    coreModel:
      enable: true
      editableDsProperties: false
      idType:
        default: LONG
        datastream:
        feature:
        historicalLocation:
        location:
        observedProperty:
        observation:
        sensor:
        thing:
    multiDatastream:
      enable: false
      idType:
        multiDatastream:
    modelLoader:
      enable: false
      modelPath:
      modelFiles:
      liquibasePath:
      liquibaseFiles:
      securityPath:
      securityFiles:
    dataArray:
      enable: true
    csv:
      enable: true
    geojson:
      enable: true
    batchProcessing:
      enable: true
    odata:
      enable: false
    openApi:
      enable: true

  ########################################
  # FROST-Server Extension configuration #
  ########################################
  extension:
    customLinks:
      enable:
      recurseDepth:
    filterDelete:
      enable:

  auth:
    provider:
    allowAnonymousRead: false
    role:
      read:
      create:
      update:
      delete:
      admin:
    realmName: FROST-Server
    plainTextPassword: true
    db:
      autoUpdate: "{% raw %}{{ .Values.frost.http.db.autoUpdate }}{% endraw %}"
      maximumConnection: "{% raw %}{{ .Values.frost.http.db.maximumConnection }}{% endraw %}"
      maximumIdleConnection: "{% raw %}{{ .Values.frost.http.db.maximumIdleConnection }}{% endraw %}"
      minimumIdleConnection: "{% raw %}{{ .Values.frost.http.db.minimumIdleConnection }}{% endraw %}"
    keycloakConfig:
    keycloakConfigFile:
    keycloakConfigUrl:
    keycloakConfigSecret:

  logging:
    default:
    parser:
    queries:
    requests:
    service:
    settings:
    moquette:
    liquibase:
    jooq:

  ##########################################
  # FROST-Server HTTP module configuration #
  ##########################################
  http:
    image:
      registry: {{ cm_frost.frost_http_image_registry }}
      repository: {{ cm_frost.frost_http_image_repository }}
      tag: {{ cm_frost.frost_http_image_tag }}
      pullPolicy: {{ general.image_pullPolicy }}
    # FROST-Server HTTP deployment settings
    replicas: {{ inv_replicas.frost.http }}
    ports:
      http:
        nodePort:
        servicePort: 80
    ingress:
      enabled: false
      rewriteAnnotation: nginx.ingress.kubernetes.io/rewrite-target
      rewriteTarget: /FROST-Server/$1
      path: /FROST-Server/(.*)
      annotations:
      tls:
        enabled: false
        secretName: []

    # FROST-Server HTTP deployment resource option. An empty resources field will default to the limits of the namespace.
    resources:
      limits:
        cpu: 500m
        memory: 1Gi
      requests:
        cpu: 200m
        memory: 500Mi


    # FROST-Server HTTP business settings
    serviceHost: frost-server
    serviceProtocol: http
    servicePort:
    urlSubPath:
    defaultCount: false
    defaultTop: 100
    maxTop: 1000
    maxDataSize: 25000000
    useAbsoluteNavigationLinks: true

    # FROST-Server Cross-Origin Resource Sharing settings to the FROST-Server HTTP
    cors:
      enable: false
      allowed:
        headers: Origin, Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers, Authorization
        methods: GET, HEAD, OPTIONS
        origins: '*'
      exposed:
        headers: Location
      preflight:
        maxage: 1800
      request:
        decorate: true
      support:
        credentials: false


    # FROST-Server Database related settings to the FROST-Server HTTP
    db:
      autoUpdate: true
      maximumConnection: 10
      maximumIdleConnection: 10
      minimumIdleConnection: 10

    # FROST-Server Messages Bus related settings to the FROST-Server HTTP
    bus:
      sendWorkerPoolSize: 10
      sendQueueSize: 2000
      recvWorkerPoolSize: 10
      recvQueueSize: 2000
      maxInFlight: 50

  ##########################################
  # FROST-Server MQTT module configuration #
  ##########################################
  mqtt:
    image:
      registry: {{ cm_frost.frost_mqtt_image_registry }}
      repository: {{ cm_frost.frost_mqtt_image_repository }}
      tag: {{ cm_frost.frost_mqtt_image_tag }}
      pullPolicy: {{ general.image_pullPolicy }}
    # FROST-Server MQTT deployment settings
    enabled: {{ tenant.frost.mqtt_enable}}
    annotations: {}
    serviceType: NodePort
    replicas: {{ inv_replicas.frost.mqtt }}
    ports:
      mqtt:
        nodePort:
        servicePort: 1883
      websocket:
        nodePort:
        servicePort: 9876
    host: 0.0.0.0
    internalHost: localhost

    secureWebsocketPort:
    stickySessionTimeout: 10800
    exposedEndpoints:
    javaKeystorePath:
    keyManagerPassword:
    keyStorePassword:
    persistentStoreType: memory
    session_queue_size: 1024
    session_timeout_seconds: 3600
    sslPort:
    netty:
      mqtt:
        message_size: 8092

    extraEnv: |
      - name: mqtt_websocket_path
        value: "/wss"

    # FROST-Server MQTT business settings
    serviceHost: "{% raw %}{{ .Values.frost.http.serviceHost }}{% endraw %}"
    qos: 2
    subscribeMessageQueueSize: 100
    subscribeThreadPoolSize: 10
    createMessageQueueSize: 100
    createThreadPoolSize: 10
    maxInFlight: 50
    waitForEnter: false

    # FROST-Server Database related settings to the FROST-Server MQTT
    db:
      autoUpdate: true
      maximumConnection: 10
      maximumIdleConnection: 10
      minimumIdleConnection: 10

    # FROST-Server Messages Bus related settings to the FROST-Server MQTT
    bus:
      sendWorkerPoolSize: 10
      sendQueueSize: 2000
      recvWorkerPoolSize: 10
      recvQueueSize: 2000
      maxInFlight: 50

    ingress:
      enabled: false
      path: /mqtt
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
        nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
      tls:
        enabled: false
        secretName:

  ##############################################
  # FROST-Server Database module configuration #
  ##############################################

  db:
    enableIntegratedDb: false
    dbExternalConnectionString: "jdbc:postgresql://frostserver-db:5432/sensorthings"
    image:
      registry: {{ cm_frost.frost_db_image_registry }}
      repository: {{ cm_frost.frost_db_image_repository }}
      tag: {{ cm_frost.frost_db_image_tag }}
      pullPolicy: {{ general.image_pullPolicy }}
    # FROST-Server Database deployment settings
    ports:
      postgresql:
        servicePort: 5432
    persistence:
      enabled: false
      existingClaim:
      storageClassName:
      accessModes:
        - ReadWriteOnce
      capacity: 20Gi
      mountPath: /var/lib/postgresql/data
      hostPath:
    requiredHostname:

    # Common FROST-Server Database properties, shared by any other FROST-Server modules
    driver: "org.postgresql.Driver"
    implementationClass: "de.fraunhofer.iosb.ilt.frostserver.persistence.pgjooq.PostgresPersistenceManager"
    idGenerationMode: "ServerGeneratedOnly"
    transactionRole: false
    countMode: "FULL"
    database: sensorthings
    # Set this to your own created secret if needed
    existingSecret: {{ frost_db_secret_name }}
    secretUsernameKey: username
    secretPasswordKey: password
    username: username
    password: password
    securityContext:
      runAsUser:
      runAsGroup:
      fsGroup:

  ##############################################
  # FROST-Server Backup module configuration #
  ##############################################
  backup:
    enabled: false
    image:
      registry: docker.io
      repository: kartoza/pg-backup
      tag: 14-3.2
      pullPolicy: IfNotPresent

    removeBefore: 14

    persistence:
      existingClaim:
      storageClassName:
      accessModes:
        - ReadWriteOnce
      capacity: 10Gi
      mountPath: /backups

    securityContext:
      runAsUser:
      runAsGroup:
      fsGroup:

  ##################################################
  # FROST-Server Messages Bus module configuration #
  ##################################################
  bus:
    image:
        registry: {{ cm_frost.frost_bus_image_registry }}
        repository: {{ cm_frost.frost_bus_image_repository }}
        tag: {{ cm_frost.frost_bus_image_tag }}
        pullPolicy: {{ general.image_pullPolicy }}
    # FROST-Server Messages Bus deployment settings
    ports:
      bus:
        servicePort: 1883

    # Common FROST-Server Messages Bus properties, shared by any other FROST-Server modules
    implementationClass: "de.fraunhofer.iosb.ilt.sta.messagebus.MqttMessageBus"
    topicName: "FROST-Bus"
    qos: 2
