# Default values for patroni-exporter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  registry: "{{ ml.patroni_exporter.registry }}"
  repository: "{{ ml.patroni_exporter.repository }}"
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "{{ ml.patroni_exporter.tag }}"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "prometheus-patroni-exporter"

logLevel: "info"

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 9120

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 10m
    memory: 32Mi
  requests:
    cpu: 1m
    memory: 8Mi


nodeSelector: {}

tolerations: []

affinity: {}

serviceMonitor:
  ## If true, a ServiceMonitor CRD is created for a prometheus operator
  ## https://github.com/coreos/prometheus-operator
  ##
  enabled: true

  labels: {}
  interval: 30s
  scrapeTimeout: 30s

patroniTargets: 
{% for host in patroni_targets %}
  - host: {{ host.Host }}
    port: {{ host.Port }}
{% endfor %}
  # - Host: "patroni-0"
  #   Port: 8008
  # - Host: "patroni-1"
  #   Port: 8008